body {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .containerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

button {
  padding: 8px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d42d2d;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.atividade-concluida {
    text-decoration: line-through;
  }

  input[type="text"] {
    padding: 10px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  input[type="text"]:focus {
    border-color: #4CAF50;
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  input[type="checkbox"]:checked::before {
    content: '\2713';
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 10px;
  }
  
  input[type="checkbox"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }